<section>
  <div class="authorization">
    <form [formGroup]="registerForm" (ngSubmit)="register()">
      <span class="title">Sign Up</span>
      <div class="form-group">
        <label for="firstname">Firstname</label>
        <input d-input formControlName="firstname" type="text" id="firstname">
      </div>
      <div class="form-group">
        <label for="lastname">Lastname</label>
        <input d-input formControlName="lastname" type="text" id="lastname">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input d-input formControlName="email" type="email" id="email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input d-input formControlName="password" type="password" id="password">
      </div>
      <div class="form-action">
        <div class="form-action__questions">
          <span>Already have an account? <a href="/login">Sing In</a></span>
        </div>
        <button d-button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</section>
